body {
    background-color: green;
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.addTaskForm {
    display: flex;
    gap: 20px;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputToAddList {
    width: 400px;
    height: 36px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
}
.form__buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formBtn {
    height: 55px;
    width: 75px;
    background-color: greenyellow;
    border-radius: 10px;
}
.removeListBtnSave{
    background-color: indianred;
}

/*tasks*/

.allTasks {
    display: flex;
    flex-direction: column;
}

.oneCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: yellow;
    border-radius: 10px;
    height: 200px;
    margin-top: 50px;
}

.taskAllText {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.titleTask {
    height: 50px;
    font-size: 45px;
    margin: 0;
    max-width: 400px;
    padding-left: 5px;
}

.subtitleTask {
    height: 30px;
    font-size: 25px;
    margin: 0;
    max-width: 400px;
    padding-left: 5px;
}

.textTask {
    height: 115px;
    font-size: 25px;
    margin: 0;
    max-width: 400px;
    padding-left: 5px;
}

.settingsTask {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}